<div class="card">
    <div class="card-header" id="{{className}}">
        <button class="btn btn-lg {{buttonColor}}" data-toggle="collapse" attr.data-target="#{{textName}}"
            aria-expanded="true" [attr.aria-controls]="textName">
            {{title}} <span class="badge {{badgeColor}}">{{books.length}}</span>
        </button>
    </div>

    <div id="{{textName}}" class="collapse" [attr.aria-labelledby]="className" attr.data-parent="#{{className}}">
        <div class="card-body">
            <span *ngIf="books.length > 0">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Author</th>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books" class="cursor-pointer" (click)="redirect(book)">
                            <th scope="row">{{book.id}}</th>
                            <td>{{book.author}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>
</div>