<div class="card">
    <div class="card-header" id="{{className}}">
        <button class="btn btn-lg {{buttonColor}}" data-toggle="collapse" attr.data-target="#{{textName}}"
            aria-expanded="true" [attr.aria-controls]="textName">
            {{title}} <span class="badge {{badgeColor}}">4</span>
        </button>
    </div>

    <div id="{{textName}}" class="collapse" [attr.aria-labelledby]="className" attr.data-parent="#{{className}}">
        <div class="card-body">
            {{title}} {{className}}
        </div>
    </div>
</div>