.card {
    background-color: inherit;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer:hover {
    background-color: #555;
}
.table-dark {
    border-radius: 5px;
}

@media screen and (min-width: 600px) {
    button {
        max-width: 50%;
        display: block;
        width: 100%;
        margin-left: 25%;
    }
}

.author {
    @media not screen and (min-width: 600px) {
        display: none;
    }
}

@media not screen and (min-width: 600px) {
    button {
        width: 85%;
        margin-left: 7.5%;
    }
}