.btn {
    display: block;
    margin: 0 auto;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    input[type=text] {
        width: 50%;
        margin-left: 25%;
    }
}

.ml-25 {
    margin-left: 25%;
}