<div class="md-col-4">

</div>
<div class="md-col-4">
  <div class="card-title text-center">Status: {{book.searching}}</div>
  <div class="card-title text-center">Search Count: {{book.searchCount}}</div>
  <div class="card-title text-center">Priority: {{book.priority}}</div>
  <div class="card-title text-center">
    <input type="checkbox"> Something 
    <input type="checkbox"> Something 
    <input type="checkbox"> Something 
    <input type="checkbox"> Something 
    <input type="checkbox"> Something 
  </div>
  <div class="card-title text-center"><input type="text"></div>
  <button class="btn btn-large mb-1" (click)="found()">Found</button>
  <button class="btn btn-large" (click)="stopSearching()">Stop Search</button>
</div>
<div class="md-col-4">

</div>