<div class="md-col-4" *ngIf="book">
  <div class="card-title text-center">Status: {{book.searchStatus}}</div>
  <div class="card-title text-center">Search Count: {{book.searchCount}}</div>
  <div class="card-title text-center">Urgency: {{book.urgency}}</div>
  <div>
    <table>
      <tr *ngFor="let name of names">
        <app-checkbox [name]="name" [inventory]="false"></app-checkbox>
      </tr>
    </table>
    <button class="btn btn-large mb-1" (click)="found()">Found</button>
    <button *ngIf="allChecked" class="btn btn-large" (click)="stopSearching()">Stop Search</button>
  </div>