.homepage {
  height: 100%;
  @media screen and (min-width: 600px) {
    padding-top: 7.5%;
  }
  
  @media not screen and (min-width: 600px) {
    padding-top: 20%;
  }
}

button {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}