<div class="card">
  <div class="card-body">
    <div class="md-col-4" *ngIf="book">
      <div class="card-title text-center">Title: {{book.title}}</div>
      <div class="card-title text-center">Call Number: {{book.callNumber}}</div>
      <div *ngIf="book.location !== 'Brack Books-Stacks'" class="card-title text-center">Location: {{book.location}}</div>
      <div *ngIf="book.status !== 'Not Charged'" class="card-title text-center">Status: {{book.status}}</div>
      <div *ngIf="book.lastSeen !== 'Invalid Date'" class="card-title text-center">Last Seen: {{dateManipulation(book.lastSeen)}}</div>
      <div *ngIf="book.tempLocation" class="card-title text-center">Temp Location: {{book.tempLocation}}</div>
      <div class="card-title text-center">Creation Date: {{dateManipulation(book.createDate)}}</div>
      <div>
        <table>
          <tr *ngFor="let name of names">
            <app-checkbox [name]="name" [value]="searchedLocations[name]"></app-checkbox>
          </tr>
        </table>
        <button class="btn btn-large mb-1" (click)="found()">Found</button>
        <button *ngIf="allChecked" class="btn btn-large" (click)="stopSearching()">Stop Search</button>
      </div>
    </div>
  </div>
</div>