.card {
    background-color: #555;
    @media screen and (min-width: 600px) {
        width: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    @media not screen and (min-width: 600px) {
        width: 75%;
        margin-left: 12.5%;
        margin-top: 20%;
    }
    border-radius: 35px;
}
.buttons {
    padding-left: 15%;
    padding-top: 5%;
}
.btn {
    display: block;
    margin: 0 auto;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wanted-by {
    background-color: #888;
    margin-top: 0;
    margin-bottom: .75rem;
    border-radius: 35px;
    @media screen and (min-width: 600px) {
        margin-right: 25%;
        margin-left: 25%;
    }
}

.invalid-buttons {
    color: indianred;
}