<div class="card">
  <div class="card-body" *ngIf="book">
    <h5 class="card-title">{{book.title}}</h5>
    <h5 class="card-title">{{book.author}}</h5>
    <h5 class="card-title">{{book.callNumber}}</h5>

    <div [ngClass]="[buttonCSS]">
      <div *ngFor="let button of buttons">
        <label><input type="radio" name="action" [value]="button.action" [(ngModel)]="buttonValue"> {{button.name}}</label>
      </div>
    </div>

    <div class="card-title text-center">
      <label>Location found: <br><input type="text" class="form-control"></label>
    </div>

    <div *ngIf="book.patron" class="wanted-by">
      <div class="card-body">
        <h6 class="card-title text-center">Wanted by Patron:</h6>
        <h6 *ngIf="checkPatronInfo('name')" class="card-title text-center">{{book.patron.name}}</h6>
        <h6 *ngIf="checkPatronInfo('hNumber')" class="card-title text-center">H-Number: {{book.patron.hNumber}}</h6>
        <h6 *ngIf="checkPatronInfo('email')" class="card-title text-center">{{book.patron.email}}</h6>
      </div>
    </div>

    <button class="btn btn-large" (click)="updateStatus()">Submit</button>

  </div>
</div>