<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h5 class="card-title">{{book.author}}</h5>
    <h5 class="card-title">{{book.callNumber}}</h5>

    <div class="card-title buttons">
      <label><input type="radio" name="action"> Mark as pending decision & email librarian</label><br>
      <label><input type="radio" name="action"> Put back in queue & email librarian</label><br>
      <label><input type="radio" name="action"> Complete search, revisit next month, & email librarian</label><br>
      <label><input type="radio" name="action"> Complete search & revisit next month</label><br>
    </div>

    <div class="card-title text-center">
      <label>Location found: <br><input type="text" class="form-control"></label>
    </div>

    <div *ngIf="book.patron" class="card wanted-by">
      <div class="card-body">
        <h6 class="card-title text-center">Wanted by Patron:</h6>
        <h6 *ngIf="checkPatronInfo('name')" class="card-title text-center">{{book.patron.name}}</h6>
        <h6 *ngIf="checkPatronInfo('hNumber')" class="card-title text-center">{{book.patron.hNumber}}</h6>
        <h6 *ngIf="checkPatronInfo('email')" class="card-title text-center">{{book.patron.email}}</h6>
      </div>
    </div>

    <button class="btn btn-large" (click)="doSomething()">Submit</button>

  </div>
</div>